{% extends "drummer_bio.html" %}
{% block content %}

<h3>Steve Gadd</h3>

<p>Stephen Kendall, a.k.a: Steve Gadd (born April 9, 1945) is an American musician.</p><br>

<p>Gadd is one of the most well-known and highly regarded session and studio drummers<br>
in the industry,recognized by his induction into the Modern Drummer Hall of Fame in 1984.<br>
Know for his impeccable ability to lay a groove "in the pocket".</p>

<p>Gadd's groove on Paul Simon's "50 Ways to Leave Your Lover", and drum solo on Steely Dan's "Aja",<br>
are both examples of his seminal sound and signature style. He has worked with popular musicians<br>
from a wide range of genres.</p>


<p>A short list of musicians with whom Gadd has worked includes Frank Sinatra, Paul McCartney,<br>
Paul Simon, Steely Dan, Al Jarreau, Joe Cocker, Stuff, Bob James, Chick Corea, Eric Clapton,<br>
Pino Daniele, James Taylor, Jim Croce, Eddie Gómez, The Manhattan Transfer, Michal Urbaniak,<br>
Steps Ahead, Tony Banks, Manhattan Jazz Quintet, Carly Simon, Richard Tee, Jon Bon Jovi,<br>
Chet Baker, Paul Desmond, The Bee Gees, Michael McDonald,Michel Petrucciani, Kate Bush,<br>
David Sanborn, Kurt Baebi, and Blicher Hemmer Gadd.</p>

{% endblock %}

